body {
  display:flex;
  flex-direction: column;
  align-items: center;
}
ol {
  /* counter-reset: item; */
  margin-left: 0;
  padding-left: 0;
  /* width: 100%; */
}
li {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5em;
}
li::before, li::before:hover {
  display: inline-block;
  content: counter(item) ". ";
  counter-increment: item;
  /* width: 2em; */
  /* margin-left: -2em; */
}